.nav-vid {
  .nav--links {
    padding: 0;
    display: flex;
    gap: 15px;
    .nav--item {
      list-style: none;

      .nav--link {
        color: #333;

        &:link,
        &:active,
        &:visited {
          text-decoration: none;
          font-weight: 600;
        }
      }
      .act-nav {
        &:link,
        &:visited,
        &:active {
          opacity: 1;
          color: green;
        }
      }
    }
  }
}
