<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://esmcgie.com">
      <img
        src="https://esmcgie.com/assets/images/logo.webp"
        alt="Your Logo"
        class="img-fluid"
        width="50"
        height="50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emission">Émission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/live">Live</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
