
.a {
  color: black;
  text-decoration: none;
  font-size: 14px;
cursor: pointer;
}
.a:hover {
  color:#ae3764;
}
.i-primary{
  color:#ae3764;

}
.bg-nav{
  background-color:#ae3764;

}
.img-logo{
  margin-left:400%;
}

@media screen and (max-width: 1024px) {
  .img-logo{
    margin-left:100%;
  }
}

@media screen and (max-width: 768px) {
  .img-logo{
    margin-left:0%;
  }

}

@media (max-width: 48em) {
  .img-logo{
    margin-left:15%;
  }
 .info{
  display: none;

 }

}

@media (max-width: 27em) {
  .img-logo{
    margin-left:10%;
  }
  .info{
    display: none;

   }
  }
