  
      <!-- Testimonial Start -->
      <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Testimonial</h4>
                <h1 class="display-5 mb-4">Thousands Of Customers Who Trust Us And Our Services</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/img/testimonial-1.jpg' alt=''>">
                    <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                    <h3>Client Name</h3>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/img/testimonial-2.jpg' alt=''>">
                    <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                    <h3>Client Name</h3>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/img/testimonial-3.jpg' alt=''>">
                    <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                    <h3>Client Name</h3>
                    <span class="text-primary">Profession</span>
                </div>
            </div>      
        </div>
    </div> -->
    <!-- Testimonial End -->
<!-- 
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Testimonial</h4>
                <h1 class="display-5 mb-4">Thousands Of Customers Who Trust Us And Our Services</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div style="height: 50px;" class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/img/testimonial-1.jpg' alt=''>"></div>
                <div style="height: 50px;" class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/img/testimonial-3.jpg' alt=''>"></div>
                <div style="height: 50px;" class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/img/testimonial-3.jpg' alt=''>"></div>
            </div>
        </div>
    </div>
   -->
  <!-- Footer Start -->

  <div class="container-fluid bg-white col-12" style="
  background-repeat: no-repeat;
  background-size: cover; " >
  </div>
  <div class="container-fluid bg-white text-body footer mt-5 pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
    <!-- <div class="img-fluid"  style="background-image: url('/assets/img/bannerfooter.png'); background-repeat: no-repeat; background-size: co; background-position: center; max-width: 100%;  height: auto;">
    </div> -->
    <!-- <a class="btn-offreur" href="">Devenez offreur de Travail</a> -->
    <div class="bg-dark">
      <div class="container py-5">
        <div class="row g-5" >
            <div class="col-lg-3 col-md-6">
                <h3 class="text-light mb-4">Address</h3>
                <p class="mb-2"><i class="icon fa fa-map-marker-alt  me-3"></i>03 BP : 30038 Lomé-Togo</p>
                <p class="mb-2"><i class="icon fa fa-phone-alt  me-3"></i>(00228) 93 76 61 90 / 79 82 60 86</p>
                <p class="mb-2"><i class="icon fa fa-envelope me-3"></i>esmc@esmcgie.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-body me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-body me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-light mb-4">Statistique</h3>
              <p><span class="nomb">5000</span> commandes en cours</p>
              <p><span class="nomb">500.250</span> nombre de KSU <br> distribué</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-light  mb-4">A propos de ESMC GIE</h3>
                <div class="apropos">
                  <p><a href="">Nos valeurs</a></p>
                  <p><a href="">Comment ça marche?</a></p>
                  <p><a href="">Devenir vendeur</a></p>
                  <p><a href="">Contact et FAQ</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-light mb-4">Newsletter</h3>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Inscription</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="container-fluid bg-dark copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">gie esmc</a>, Tous droits réservés.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By  <a href="https://htmlcodex.com">GIE ESMC</a>
                    <br> Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">GIE ESMC</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
