*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/*GENERAL STYLES*/
section{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
}

.link {
  text-decoration: none;
  color: white;
}

.btn{
  background-color: #eeeeee;
  color: #000000;
  border: none;
}

.btn-circle{
  padding: 0.4rem;
  border-radius: 50%;

}

svg{
  stroke: white;
}
.ctn-sub{
  position: relative;
}
.link-sub {
  padding: 0.6rem 1.5rem 0.6rem 3.5rem;
  border-radius: 2rem;
  font-weight: 600;
}

.header{
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 800px;
  margin: 0rem auto;
}

.ctn-sub{
  justify-self: end;
}

.link-sub::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="M160-200v-66.666h82.667V-564q0-83.667 49.666-148.833Q342-778 422.667-796v-28.667q0-23.666 16.833-39.5Q456.333-880 480-880t40.5 15.833q16.833 15.834 16.833 39.5V-796Q618-778 668-712.833 718-647.667 718-564v297.334h82V-200H160ZM480-80q-32.333 0-56.167-23.5Q400-127 400-160h160q0 33-23.5 56.5T480-80Z"/></svg>');
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translate(0, -50%);

}

/*INFORMATIONS*/

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.desc{
  font-weight: bold;
}

.logo{
  width: 90px;
}

.list-media{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 680px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.link-media{
  background-color: #fdfdfe;
  padding: 1.2rem;
  font-weight: 500;
  color: #929292;
  border: 2px solid #000000;
  position: relative;
}

.link-media:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff ;
  color: #ffffff;
}

.list-item::after{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" style="fill:white"><path xmlns="http://www.w3.org/2000/svg" d="M264.615-80Q237-80 218.5-98.5 200-117 200-144.615v-390.77Q200-563 218.5-581.5 237-600 264.615-600h84.616v40h-84.616q-9.23 0-16.923 7.692Q240-544.615 240-535.385v390.77q0 9.23 7.692 16.923Q255.385-120 264.615-120h430.77q9.23 0 16.923-7.692Q720-135.385 720-144.615v-390.77q0-9.23-7.692-16.923Q704.615-560 695.385-560h-84.616v-40h84.616Q723-600 741.5-581.5 760-563 760-535.385v390.77Q760-117 741.5-98.5 723-80 695.385-80h-430.77ZM460-340v-435.461l-84 83.999L347.692-720 480-852.308 612.308-720 584-691.462l-84-83.999V-340h-40Z"/></svg>');
  position: absolute;
  right:1rem ;
  top: 50%;
  transform: translate(0 , -50%);
}
