<section >
<header class="header">
  <div  class="ctn-circle">
    <div class="btn btn-circle"><svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="M218.572-421.334q-24.239 0-41.406-17.261Q160-455.856 160-480.094q0-24.239 17.261-41.406 17.261-17.166 41.499-17.166 24.239 0 41.406 17.261 17.166 17.261 17.166 41.499 0 24.239-17.261 41.406-17.261 17.166-41.499 17.166Zm261.334 0q-24.239 0-41.406-17.261-17.166-17.261-17.166-41.499 0-24.239 17.261-41.406 17.261-17.166 41.499-17.166 24.239 0 41.406 17.261 17.166 17.261 17.166 41.499 0 24.239-17.261 41.406-17.261 17.166-41.499 17.166Zm261.334 0q-24.239 0-41.406-17.261-17.166-17.261-17.166-41.499 0-24.239 17.261-41.406 17.261-17.166 41.499-17.166 24.239 0 41.405 17.261Q800-504.144 800-479.906q0 24.239-17.261 41.406-17.261 17.166-41.499 17.166Z"/></svg></div>
  </div>
  <div class="ctn-sub">
    <a href="#" class="link btn link-sub">Subscribe</a>
  </div>
</header>

<div class="info">
  <div class="ctn-logo"><img class="logo" src="https://esmcgie.com/assets/images/logo.webp" alt=""></div>

  <div><span class="desc">@gieesmc</span></div>
  <div>
    <p>Pour un monde ou l'humain est au centre de tout.
      <a href="mailto: esmcmedia23@gmail.com" class="link">
        <span>esmcmedia23@gmail.com</span>
      </a>
    </p>
  </div>
</div>
<div class="media">
  <ul class="list-media">
    <a href="https://youtube.com/@RealEsmcGie" target="_blank" class="link link-media">
      <li class="list-item">YouTube</li>
    </a>
    <a href="https://www.facebook.com/GIEESMC" class="link link-media">
      <li class="list-item">Facebook</li>
    </a>
    <a href="https://www.linkedin.com/in/esmc-gie-a0b997269" class="link link-media">
      <li class="list-item">LinkedIn</li>
    </a>
    <a href="https://twitter.com/GieEsmc" class="link link-media">
      <li class="list-item">Twitter</li>
    </a>
    <a href="https://www.instagram.com/gieesmc/" class="link link-media">
      <li class="list-item">Instagram</li>
    </a>
    <a href="https://www.tiktok.com/@esmcgie" class="link link-media">
      <li class="list-item">TikTok</li>
    </a>
  </ul>
</div>
</section>
