<header>
    <!-- Sidebar -->
    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse menu"
         >
         <div class="title">
          ESMC GIE
         </div>
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <div class="menu-item">
            <a href="/dash" class="lien">Tableau de bord</a>
          </div>
          <div class="menu-item">
            <a href="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="lien">WEB TV</a>
            
          </div>
          <div class="collapse" id="collapseExample">
            <div class="coll">
              <div class="menu-item">
                <a href="" class="lien">Accueil</a>
              </div>
              <div class="menu-item">
                <a href="" class="lien">Live</a>
              </div>
              <div class="menu-item">
                <a href="" class="lien">Emission</a>
              </div>
            </div>
          </div> 
          <div class="menu-item">
            <a href="" class="lien">WEB Radio</a>
          </div>
          <div class="menu-item">
            <a href="" class="lien">Blog</a>
          </div>
          <div class="menu-item">
            <a href="" class="lien">Réseaux sociaux</a>
          </div>
          <div class="menu-item">
            <a href="" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" class="lien" >Visualisation</a>
          </div>
          <div class="collapse" id="collapseExample2">
            <div class="coll">
              <div class="menu-item">
                <a href="" class="lien">Mise en examen</a>
              </div>
              <div class="menu-item">
                <a href="" class="lien">Live</a>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </nav>

  </header>
 