.card-ctn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  margin: 50px 0;

  img {
    height: 300px;
    background: limegreen;
  }

  .card-text-box {
    align-self: center;
    h2 {
      margin-bottom: 32px;
      line-height: 1.1;
      font-weight: 700;
      letter-spacing: -1px;
    }
    .card-text {
      margin-bottom: 24px;
      line-height: 1.5;
    }

    .btn-card {
      text-decoration: none;
      text-transform: uppercase;
      background: lightgreen;
      padding: 10px 40px;
      font-size: 18px;
      font-weight: 500;
      color: white;
    }
  }
}
