<div class="card-ctn">
  <img [src]="" alt="" srcset="" class="card-img" />
  <div class="card-text-box">
    <h2>Comment avez vous fait ?</h2>
    <p class="card-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum at
      similique illum possimus perferendis repellat dolores odio libero
      accusantium aliquid deserunt dignissimos pariatur mollitia saepe,
      praesentium odit, sapiente exercitationem sint.
    </p>
    <a href="#" class="btn-card">lire la vidéo</a>
  </div>
</div>
