<app-header></app-header>
<div
  class="fixed-bot"
  data-aos="fade-up"
  data-aos-duration="500"
  (click)="scrolToTop()"
>
  <a
    class="btn btn-lg btn-primary"
    style="
      background-color: #ae3764 !important;
      border-color: #ae3764 !important;
    "
  >
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </a>
</div>
<section id="top" class="top">
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-12">
        <br />
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-8" data-aos="zoom-in" data-aos-duration="1000">
        <div style="position: relative; padding-bottom: 56.25%; height: 0">
          <iframe
            src="https://player.viloud.tv/embed/channel/29823d92af1c321b486d986c09647d73?autoplay=1&volume=1&controls=1&title=1&share=1&open_playlist=0&random=0"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            "
            frameborder="0"
            allow="autoplay"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="mx-2 my-4">
          <span class="text-primar font-weight-bold">#ESMC#ODD#WEBTV</span>
          <h5 class="mb-4">
            BIENVENUE SUR ESMC WEBTV SUIVEZ EN TEMPS RÉEL L'ACTUALITÉ
          </h5>
        </div>
      </div>
      <!-- Cardes -->
      <div class="col">
        <app-card-emission
          *ngFor="let cardEmission of cardEmission"
          [cardEmission]="cardEmission"
          [routerLink]="['/video', cardEmission.id]"
        ></app-card-emission>
      </div>
    </div>
  </div>
</section>
