//general styles
ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 3rem;
}

.card {
  width: 250px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: none;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

//
header {
  background: #28293e;
  color: white;
  padding: 1.5rem 0 0.5rem 0;
  h1 {
    text-transform: capitalize;
    text-align: center;
  }

  nav {
    ul {
      justify-content: center;
      gap: 2.5rem;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
      }

      &:link,
      :hover,
      :active {
        color: #570017;
      }
    }
  }
}

.vid--ctn {
  .frame-ctn {
    iframe {
      width: 40rem;
      height: 25rem;
    }
  }
}

/* Style global */
body {
  font-family: sans-serif;
  margin: 0;
}

/* Header */
header {
  background-color: rgb(4, 2, 13);
  color: #fff;
  text-align: center;
  padding: 50px;
}

/* Conteneur du lecteur et de la playlist */
.player-container {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  position: relative;
  // .player {
  //   // position: absolute;
  //   // iframe {
  //   //   // width: 920px;
  //   // }
  // }
  .testplayer {
    // position: relative;
    height: 32.5em;
  }
}

/* Lecteur */
.player {
  margin: 20px;
}

/* Playlist */
.playlist {
  margin: 20px;
  width: 300px;
}

.playlist h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.playlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.playlist li {
  margin-bottom: 5px;
}

.playlist li a {
  color: #666;
  display: block;
  padding: 5px;
  text-decoration: none;
}

.playlist li.active a {
  background-color: #f00;
  color: #fff;
}

@media (max-width: 48em) {
  iframe,
  youtube-player > iframe {
    width: 350px;
    height: 315px;
  }
  // .player-container {
  //   .testplayer {
  //     height: 25rem;
  //   }
  // }
}
@media (max-width: 20em) {
  iframe,
  youtube-player > iframe {
    width: 300px;
    height: 215px;
  }
  // .player-container {
  //   .testplayer {
  //     height: 18rem;
  //   }
  // }
}

.to-top {
  bottom: 0;
  cursor: pointer;
  margin: 0 8px 12px 0;
  position: fixed;
  right: 0;
  opacity: 1;

  background-color: #570017a1;
  border-radius: 50%;
}

.show-scrollTop {
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}
