  <body>
    <header>
      <h1 class="title">Arche de noe</h1>
  <nav>
    <ul class="nav">
      <li><a href="#">Ewe</a></li>
      <li><a href="#">Francais</a></li>
      <li><a href="#">Kabye</a></li>
      <li><a href="#">Kotokoli</a></li>
    </ul>
  </nav>
    </header>
    <div class="player-container">
      <div class="player">
        <iframe width="720" height="405"
                src="https://www.youtube.com/embed/videoseries?list=PLsoi2D5rHj1yALMuMV3lZaCMUTEj2Wy4n"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
      <div class="playlist">
        <h2>Playlist</h2>
        <ul>
          <li class="active"><a href="#">Episode 1</a></li>
          <li><a href="#">Episode 2</a></li>
          <li><a href="#">Episode 3</a></li>
          <li><a href="#">Episode 4</a></li>
          <li><a href="#">Episode 5</a></li>
        </ul>
      </div>
    </div>
  </body>
