<body>
  <header>
    <h1 class="title">{{ title }}</h1>

    <nav>
      <ul class="nav">
        <li><a href="#">Ewe</a></li>
        <li><a href="#" routerLinkActive="active">Francais</a></li>
        <li><a href="#">Kabye</a></li>
        <li><a href="#">Kotokoli</a></li>
      </ul>
    </nav>
  </header>
  <div *ngIf="idProg == 1">
    <div class="player-container">
      <div class="player" *ngIf="displayLive">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/3f5ac893edbf03549d94062c80340a4a"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="testplayer">
        <youtube-player
          class="player youtube-player"
          width="920"
          height="500 "
          margin="20px 0"
          *ngIf="showYoutubePlayer"
          [videoId]="videoId"
          [playerVars]="{ cc_lang_pref: 'en' }"
        >
        </youtube-player>
      </div>
    </div>

    <div class="row">
      <div class="card" (click)="playEpisode1()">
        <img src="../../assets/image/Episode1.jpg" alt="Card image" />
        <h5>Episode 1</h5>
      </div>
      <div class="card" (click)="playEpisode2()">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card" (click)="playEpisode3()">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card" (click)="playEpisode4()">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode 4</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 2">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/161505eaf6ee6679d8bcd78272f7bbdb"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode 4</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 3">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/6144a419d1b1e8ab9cd03c94575b3bd2"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 4">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/2a0aa49b21201785bf81896594e53195"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 5">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/2dc75b71565ccc6d369d7a677e91fb48"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 6">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/abf1e1700a6643d7b2fb2e0a1584d261"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 7">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/c43a6180789d442ffc0bbcef3e109275"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 8">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/6109301f8b9d3d47c7d6512bb6169060"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 9">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/598a908c2b097271c119e81569b18f0a"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 10">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/54caa7dd2c7f44f59d5aa2f961618d43"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>
  <div *ngIf="idProg == 11">
    <div class="player-container">
      <div class="player">
        <iframe
          width="920"
          height="515"
          src="https://player.viloud.tv/embed/channel/10a8e175ba3fc2a83ef894a8ece49bee"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?nature"
          alt="Card image"
        />
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?animals"
          alt="Card image"
        />
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image" />
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img
          src="https://source.unsplash.com/500x500/?travel"
          alt="Card image"
        />
        <h5>Episode dd</h5>
      </div>
    </div>
  </div>

  <!-- ////////////////////////////////////////// -->
  <!-- <div
    class="to-top"
    (click)="scrollToTop()"
    [ngClass]="{ 'show-scrollTop': windowScrolled }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="48"
      viewBox="0 96 960 960"
      width="48"
    >
      <path d="m280 656 200-201 200 201H280Z" />
    </svg>
  </div> -->
</body>
