  <body>
    <header>
      <h1 class="title">{{title}}</h1>

  <nav>
    <ul class="nav">
      <li><a href="#">Ewe</a></li>
      <li><a href="#" routerLinkActive="active">Francais</a></li>
      <li><a href="#">Kabye</a></li>
      <li><a href="#">Kotokoli</a></li>
    </ul>
  </nav>
    </header>
    <div class="player-container">
      <div class="player">
        <iframe width="920" height="515"
                src="https://player.viloud.tv/embed/channel/24f702c58ea642853ed4282d5c0cce45?"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
     
    </div>
    <div class="row">
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?nature" alt="Card image">
        <h5>Episode 1</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?animals" alt="Card image">
        <h5>Episode 2</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?food" alt="Card image">
        <h5>Episode 3</h5>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/500x500/?travel" alt="Card image">
        <h5>Episode dd</h5>
      </div>
    </div>
    
    
  </body>
