
  <div  class="col my-4">
    <div class="card">
      <img
        ngSrc="./assets/image/Episode1.jpg"
        class="card-img-top img-fluid"
        alt="gie esmc gieesmc esmcgie"
        height="843" width="1500"/>
      <div class="card-body py-2">
        <h5 class="card-title ">Episode 1</h5>
      </div>
    </div>
  </div>
  <!-- <div class="col">
    <div class="card">
      <img src="./assets/image/Episode1.jpg" class="card-img-top" alt="..." />
      <div class="card-body p-2">
        <h5 class="card-title">Episide 2</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/image/Episode1.jpg" class="card-img-top" alt="..." />
      <div class="card-body p-2">
        <h5 class="card-title">Episide 3</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/image/Episode1.jpg" class="card-img-top" alt="..." />
      <div class="card-body p-2">
        <h5 class="card-title">Episide 4</h5>
      </div>
    </div>
  </div> -->

