<app-sidebar-dashboard></app-sidebar-dashboard>
<main style="margin-top:100px">
    <div class="container pt-4">
        <section class="contenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-5">
                        <div>
                           
                            <button class="btn btnaj">
                                +Ajouter un lien
                            </button>
                        </div>
                        <div class="contenu1" >
                           <div class="lien shadow-lg">
                                <div class="bord">
                                    <div class="elt1">
                                        <span class="txt1">ESMC GIE 
                                            <button class="btn btnaction2">
                                            <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                           </button>
                                        </span>
                                        <span class="action form-check form-switch">
                                            <button class="btn btnaction2">
                                                <img src="./assets/image/partager.png" width="20" height="20" alt="">
                                               </button>
                                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                              
                                        </span>
                                    </div>
                                    <div class="elt2">
                                        <span class="txt1">http://www.facebook.com/esmcgie/</span>
                                       <button class="btn btnaction2">
                                                <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                               </button>
                                       
                                    </div>
                                </div>
                                <div class="elt3">
                                    <button class="btn btnaction2">
                                        <img src="./assets/image/corbeille(1).png" width="20" height="20" alt="">
                                       </button>
                                </div>
                           </div>
                           <div class="lien shadow-lg">
                                <div class="bord">
                                    <div class="elt1">
                                        <span class="txt1">ESMC GIE 
                                            <button class="btn btnaction2">
                                            <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                           </button>
                                        </span>
<span class="action form-check form-switch">
                                            <button class="btn btnaction2">
                                                <img src="./assets/image/partager.png" width="20" height="20" alt="">
                                               </button>
                                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                              
                                        </span>
                                    </div>
                                    <div class="elt2">
                                        <span class="txt1">http://www.facebook.com/esmcgie/</span>
                                       <button class="btn btnaction2">
                                                <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                               </button>
                                       
                                    </div>
                                </div>
                                <div class="elt3">
                                    <button class="btn btnaction2">
                                        <img src="./assets/image/corbeille(1).png" width="20" height="20" alt="">
                                       </button>
                                </div>
                           </div>
                           <div class="lien shadow-lg">
                                <div class="bord">
                                    <div class="elt1">
                                        <span class="txt1">ESMC GIE 
                                            <button class="btn btnaction2">
                                            <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                           </button>
                                        </span>
<span class="action form-check form-switch">
                                            <button class="btn btnaction2">
                                                <img src="./assets/image/partager.png" width="20" height="20" alt="">
                                               </button>
                                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                              
                                        </span>
                                    </div>
                                    <div class="elt2">
                                        <span class="txt1">http://www.facebook.com/esmcgie/</span>
                                       <button class="btn btnaction2">
                                                <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                               </button>
                                       
                                    </div>
                                </div>
                                <div class="elt3">
                                    <button class="btn btnaction2">
                                        <img src="./assets/image/corbeille(1).png" width="20" height="20" alt="">
                                       </button>
                                </div>
                           </div>
                           <div class="lien shadow-lg">
                                <div class="bord">
                                    <div class="elt1">
                                        <span class="txt1">ESMC GIE 
                                            <button class="btn btnaction2">
                                            <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                           </button>
                                        </span>
<span class="action form-check form-switch">
                                            <button class="btn btnaction2">
                                                <img src="./assets/image/partager.png" width="20" height="20" alt="">
                                               </button>
                                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                              
                                        </span>
                                    </div>
                                    <div class="elt2">
                                        <span class="txt1">http://www.facebook.com/esmcgie/</span>
                                       <button class="btn btnaction2">
                                                <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                               </button>
                                       
                                    </div>
                                </div>
                                <div class="elt3">
                                    <button class="btn btnaction2">
                                        <img src="./assets/image/corbeille(1).png" width="20" height="20" alt="">
                                       </button>
                                </div>
                           </div>
                           <div class="lien shadow-lg">
                                <div class="bord">
                                    <div class="elt1">
                                        <span class="txt1">ESMC GIE 
                                            <button class="btn btnaction2">
                                            <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                           </button>
                                        </span>
<span class="action form-check form-switch">
                                            <button class="btn btnaction2">
                                                <img src="./assets/image/partager.png" width="20" height="20" alt="">
                                               </button>
                                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                              
                                        </span>
                                    </div>
                                    <div class="elt2">
                                        <span class="txt1">http://www.facebook.com/esmcgie/</span>
                                       <button class="btn btnaction2">
                                                <img src="./assets/image/modifier.png" width="15" height="20" alt="">
                                               </button>
                                       
                                    </div>
                                </div>
                                <div class="elt3">
                                    <button class="btn btnaction2">
                                        <img src="./assets/image/corbeille(1).png" width="20" height="20" alt="">
                                       </button>
                                </div>
                           </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>            