/* You can add global styles to this file, and also import other style files */
* {
  font-family: "montserrat";
}
 body {
//   box-sizing: content-box;
   width: 100vw;
   //height: 100%;
   overflow-x: hidden;
 }
