<header class="header--video">
    <div class="iframe-ctn">
      <iframe
    src="https://www.youtube.com/embed/YJ_AvFvED8k"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    autoplay
  ></iframe>

    </div>

    <div class="info--video">
      <h3 id="video__title">Title of video</h3>
      <p id="video__description"> Video description
      </p>
    </div>
</header>



  <!-- Le BODY de la page  -->
<div class="components">

    <h5 class="title">Programmes</h5>

    <!-- Les CARTES de programmes -->

    <div class="cards">
      <app-prog-card [progCard]="progCard1"></app-prog-card>
      <app-prog-card [progCard]="progCard2"></app-prog-card>
      <app-prog-card [progCard]="progCard3"></app-prog-card>
      <app-prog-card [progCard]="progCard4"></app-prog-card>
</div>


    <!-- Le bouton CHARGER PLUS pour voir plus de programmes  -->
    <div class="center">
        <button (click)="redirigerVersP()" class="btn--prog">Charger plus</button>
    </div>



  <div class="card--body">
    <app-card-body></app-card-body>
  </div>

  </div>
