<header class="header--video">
  <div class="iframe-ctn">
    <iframe
      src="https://esmc.streamtvweb.com:5443/WebRTCAppEE/play.html?name=X2XTonbwzSup1680804293538"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      autoplay
    ></iframe>
  <div class="info--video">
    <h3 id="video__title">ECONOMIE SOCIAL DE MARCHÉ COMMUN</h3>
    <!-- <p id="video__description"> Video description</p> -->
  </div>

  </div>
  <div class="">
      <app-prog-card [progCard]="progCard1"></app-prog-card>
      <app-prog-card [progCard]="progCard2"></app-prog-card>
  </div>
</header>

<!-- Le BODY de la page  -->
<div class="components">

  <h5 class="title">Programmes</h5>

  <!-- Les CARTES de programmes -->

  <div class="cards">
    <app-prog-card [progCard]="progCard1"></app-prog-card>
    <app-prog-card [progCard]="progCard2"></app-prog-card>
    <app-prog-card [progCard]="progCard3"></app-prog-card>
    <app-prog-card [progCard]="progCard4"></app-prog-card>
  </div>


  <!-- Le bouton CHARGER PLUS pour voir plus de programmes  -->
  <div class="center">
    <button class="btn--prog" routerLink="/programme">Charger plus</button>
  </div>


  <!-- <div class=".card--body">
    <app-card-body></app-card-body>
  </div> -->

</div>

<!--  <router-outlet></router-outlet>-->
