<header>
  <h1 class="title">Nos Émissions</h1>
</header>

<br><br>

  <div class="cards">
    <app-prog-card [progCard]="progCard1" [routerLink]="['/video', progCard1.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard2" [routerLink]="['/video', progCard2.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard3" [routerLink]="['/video', progCard3.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard4" [routerLink]="['/video', progCard4.id]"></app-prog-card>
  </div>

  <div class="cards">
    <app-prog-card [progCard]="progCard5" [routerLink]="['/video', progCard5.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard6" [routerLink]="['/video', progCard6.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard7" [routerLink]="['/video', progCard7.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard8" [routerLink]="['/video', progCard8.id]"></app-prog-card>
  </div>

  <div class="cards">
    <app-prog-card [progCard]="progCard9" [routerLink]="['/video', progCard9.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard10" [routerLink]="['/video', progCard10.id]"></app-prog-card>
    <app-prog-card [progCard]="progCard11" [routerLink]="['/video', progCard11.id]"></app-prog-card>
  </div>
