<header>
  <h1 class="title">Nos Programmes</h1>
</header>

<br><br>
<div class="card-container">
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/jardin.jpg')"></div>
      <div class="card-overlay">
        <h2>Le Jardin d'Eden</h2>
        <p>Un programme qui vous ramène aux sources</p>
        <a routerLink="/video">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/arch.jpg')"></div>
      <div class="card-overlay">
        <h2>Arch de Noé</h2>
        <p>Description de la carte 2</p>
        <a routerLink="/video">Voir</a>
      </div>
    </div>
  </div>
  <br><br>
<div class="card-container">
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/messi.jpg')"></div>
      <div class="card-overlay">
        <h2>Le Messie</h2>
        <p>Description de la carte 1</p>
        <a routerLink="/video">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/jourreligion.jpg')"></div>
      <div class="card-overlay">
        <h2>Jour de la Religion</h2>
        <p>Description de la carte 2</p>
        <a routerLink="/video">Voir</a>
      </div>
    </div>
  </div>
  <br><br>
<div class="card-container">
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/paradis.jpg')"></div>
      <div class="card-overlay">
        <h2>Le Paradis</h2>
        <p>Description de la carte 1</p>
        <a href="#">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/jourdernier.jpg')"></div>
      <div class="card-overlay">
        <h2>Jour dernier</h2>
        <p>Description de la carte 2</p>
        <a href="#">Voir</a>
      </div>
    </div>
  </div>
  <br><br>
<div class="card-container">
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/resurection.jpg')"></div>
      <div class="card-overlay">
        <h2>Resurection</h2>
        <p>Description de la carte 1</p>
        <a href="#">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/b.png')"></div>
      <div class="card-overlay">
        <h2>Le Bâton de Moïse</h2>
        <p>Description de la carte 2</p>
        <a href="#">Voir</a>
      </div>
    </div>
  </div>
  <br><br>
<div class="card-container">
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/r.png')"></div>
      <div class="card-overlay">
        <h2>RCT</h2>
        <p>Description de la carte 1</p>
        <a href="#">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/christ.jpg')"></div>
      <div class="card-overlay">
        <h2>Le Christ</h2>
        <p>Description de la carte 2</p>
        <a href="#">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/arch.jpg')"></div>
      <div class="card-overlay">
        <h2>Arch de Noé</h2>
        <p>Description de la carte 2</p>
        <a href="#">Voir</a>
      </div>
    </div>
  </div>
