.test{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
  margin: 2rem 4rem;

  .hi{
    background: #8d0202;
    width: 500px;
    height: 300px;
    :host(.card--prog) {
        width: 500px ;
        height: 300px ;
    }

  }

}

