<header>
  <h1 class="title">Nos Programmes</h1>
</header>

<br><br>
<div class="card-container">
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/jardin.jpg')"></div>
      <div class="card-overlay">
        <h2>Le Jardin d'Eden</h2>
        <p>Un programme qui vous ramène aux sources</p>
        <a routerLink="/video">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/arch.jpg')"></div>
      <div class="card-overlay">
        <h2>Arch de Noé</h2>
        <p>Description de la carte 2</p>
        <a routerLink="/video">Voir</a>
      </div>
    </div>
  </div>
  <br><br>
<div class="card-container">
    <div class="card">
      <div class="card-image" style="background-image: url('./assets/image/messi.jpg')"></div>
      <div class="card-overlay">
        <h2>Le Messie</h2>
        <p>Description de la carte 1</p>
        <a routerLink="/video">Voir</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('https://source.unsplash.com/random/400x300')"></div>
      <div class="card-overlay">
        <h2>Titre de la carte 2</h2>
        <p>Description de la carte 2</p>
        <a routerLink="/video" >Lien</a>
      </div>
    </div>
  </div>
