
header {
  background: #28293E;
  color: white;
  padding: 2rem;
  h1 {
    text-transform: capitalize;
    text-align: center;
  }

}

.cards {
  box-sizing: border-box;
  display: flex;
  //justify-content: space-between;
  justify-content: center;
  gap: 2rem 4rem;
}


  h1 {
    margin: 0;
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width:1280px;
    margin: 0 auto;
  }

  .card {
    position: relative;
    width: 720px;
    height: 330px;
    cursor: pointer;
  }

  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    transition: all 0.3s ease-in-out;
  }

  .card:hover .card-overlay {
    transform: translateY(-50%);
  }

  .card-overlay h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  .card-overlay p {
    margin: 10px 0;
    font-size: 16px;
  }

  .card-overlay a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #1E385B;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }

  .card-overlay a:hover {
    background-color: #1E385B;
    color: #fff;
  }

  @media screen and (max-width: 1024px) {
    .card-container {
      max-width: 768px;
    }
    .card {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .card-container {
      max-width: 700px;
      //flex-direction: column;
      //align-items: center;
      //gap: 10px;
      //margin: 0 auto;
      //padding: 0 10px;
      //overflow-x: hidden;
    }
    .card {
      height: 200px;
    }
    .card-overlay {
      padding: 10px;
      font-size: 14px;
    }
    .card-overlay h2 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    .card-container {
      flex-direction: column;

      max-width: 320px;
} }
